/* components/ProfilePictureUpvotes.css */

.profile-picture-upvotes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.avatar-container {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.2em solid var(--highlight2);
}

/* The upvote count badge could be positioned in a corner */
.upvote-count {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--highlight1);
  color: var(--light1);
  border-radius: 50%;
  padding: 0.3em 0.5em;
  font-weight: bold;
  font-size: 0.8rem;
  transform: translate(25%, -25%);
}
