#upload {
    display: grid;
    place-items: center;

    padding: 2.5em var(--side-padding);

    min-height: calc(100vh - var(--nav-height));
    min-height: calc(100svh - var(--nav-height));
}

#upload form {
    display: grid;
    gap: 3.5em;

    width: fit-content;
}

#upload h1 span {
    color: var(--highlight1);
}

#upload ul {
    display: grid;
    gap: 2.5em;
}

#upload li {
    position: relative;
}

#upload label {
    position: absolute;
    left: calc(var(--field-padding-x) - 0.7em);
    top: -1.2em;

    padding: 0.3em 0.7em;

    background-color: var(--light1);

    font-weight: 600;
    /* color: var(--light1); */

    border-radius: 100em;
}

#upload input, #upload textarea {
    width: 100%;

    padding: var(--field-padding-y) var(--field-padding-x);

    background-color: var(--light2);

    font-weight: 600;

    border: none;
    /* border-bottom: */
    border-radius: 1em;
}

#upload .upload-type {
    display: flex;
}

#upload .upload-type button {
    padding: 0.5em var(--field-padding-x);

    background-color: var(--dark1);

    font-weight: 800;
   
    color: var(--light1);
}

#upload .upload-type button:first-of-type {
    border-top-left-radius: 1em;
}

#upload .upload-type button:last-of-type {
    border-top-right-radius: 1em;
}

#upload .upload-type .active {
    background-color: var(--highlight1);
}

#upload .upload-field input {
    display: none;
}

#upload .upload-field > button {
    height: 10em;
    width: 40vw;

    background-color: var(--light2);

    border-top-left-radius: 0;
}

#upload .upload-field > button p {
    font-weight: 600;
}

#upload .upload-field textarea {
    height: 30em;
    width: 40vw;

    border-top-left-radius: 0;
}

#upload .form-footer button {
    width: 100%;

    padding: 1.25em var(--field-padding-x);

    background-color: var(--light2);

    font-weight: 600;
    color: var(--light1);

    border-radius: 1em;
}

#upload form:valid .form-footer button {
    background-color: var(--dark1);
}

#upload form:valid .form-footer button:hover {
    background-color: var(--highlight1);
}
