#upload {
    display: grid;
    place-items: center;

    padding: 2.5em var(--side-padding);

    min-height: calc(100vh - var(--nav-height));
    min-height: calc(100svh - var(--nav-height));
}

#upload form {
    display: grid;
    gap: 3.5em;

    width: fit-content;
}

#upload h1 span {
    color: var(--highlight2);
}

#upload ul {
    display: grid;
    gap: 2.5em;
}

#upload li {
    position: relative;

    display: flex;
    flex-direction: column;
}

#upload label {
    z-index: 2;
    position: absolute;
    left: calc(var(--field-padding-x) - 0.7em);
    top: -1.2em;

    padding: 0.3em 0.7em;

    background-color: var(--light1);

    font-weight: 600;
    /* color: var(--light1); */

    border-radius: 100em;
}

#upload input, #upload textarea {
    width: 100%;

    padding: var(--field-padding-y) var(--field-padding-x);

    background-color: var(--light2);

    font-weight: 600;

    border: none;
    /* border-bottom: */
    border-radius: 1em;
}

#upload .error-message {
    order: 2;

    padding: var(--field-padding-y) var(--field-padding-x);

    background-color: var(--invalid);

    font-weight: 800;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

#upload .error-message ~ input, 
#upload .error-message ~ .upload-input, 
#upload .error-message ~ button {
    order: 1;

    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#upload .upload-type {
    display: flex;
}

#upload .upload-type button {
    padding: 0.5em var(--field-padding-x);

    background-color: var(--dark1);

    font-weight: 800;
   
    color: var(--light1);
}

#upload .upload-type button:first-of-type {
    border-top-left-radius: 1em;
}

#upload .upload-type button:last-of-type {
    border-top-right-radius: 1em;
}

#upload .upload-type .active {
    background-color: var(--highlight2);
}

#upload .upload-field input {
    display: none;
}

#upload .upload-input {
    width: 40vw;

    border-top-left-radius: 0;
}

#upload .file-upload {
    height: 10em;

    background-color: var(--light2);

    border-radius: 1em;
}

#upload .file-upload {
    font-weight: 600;
}

#upload .upload-field textarea {
    height: 30em;
}

#upload .form-footer {
    display: flex;
    flex-direction: column;
}

#upload .form-footer button {
    width: 100%;

    padding: 1.25em var(--field-padding-x);

    background-color: var(--light2);

    font-weight: 600;
    color: var(--dark1);

    border-radius: 1em;
}

#upload form:valid .form-footer button {
    background-color: var(--dark1);

    color: var(--light1);
}

#upload form:valid .form-footer button:hover {
    background-color: var(--highlight2);
}
